<table>
  <thead>
  	<tr>
  	  <th>Item</th>
  	  <%= inventories.each do |i| %>
  	     <th><%= i %></th>
  	   <% end %>
  	</tr>
  </thead>

  <tbody>
    <% items.each do |i,h| %>
    <tr>
      <td><%= i %></td>
       
      <% h.each do |qty| %>
      <td><%= qty[0]  %><%= qty[1] || 0 %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>