<%= javascript_include_tag "https://www.google.com/jsapi" %>
<% start_date = start_date.blank? ? default_start_date : start_date %>
<% end_date = end_date.blank? ? default_end_date : end_date %>

<% test = {} %>
<% split_range_into_dates(start_date, end_date).each do |day| %>
	<% test[day] = diaper_drives_total(start_date, day).count %>
<% end %>

<p>
	<h4>Diaper drives totals for <%= "#{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h4>
	<%= line_chart(test) %>
</p>

<p>
	<h4>Total Items Donated by Location for <%= "#{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h4>
	<%= pie_chart(dropoff_totals_for_locations(start_date, end_date)) %>
</p>
