<%= javascript_include_tag "https://www.google.com/jsapi" %>
<% start_date = start_date.blank? ? default_start_date : start_date %>
<% end_date = end_date.blank? ? default_end_date : end_date %>

<% test = Donation.diaper_drive.daily_quantities_by_source(start_date, end_date) %>

<p>
	<h4>Diaper drives totals for <%= "#{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h4>
	<%= line_chart(test) %>
</p>

<p>
	<h4>Total Items Donated by Location for <%= "#{start_date.strftime('%D')} - #{end_date.strftime('%D')}" %></h4>
	<%= pie_chart(dropoff_totals(start_date, end_date)) %>
</p>
